body {
    /* font-family: lato, Courier,monospace; */
    background-color: rgba(245, 245, 220, 0.956);
    /* font-family: Arial, sans-serif; apply this */
    font-family: inter Impact, Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

main {
    background-color: beige;
}

   
/* header { 
    font-family: inter Impact;
} */


footer {
    /* margin: 1rem auto;
    padding: 1rem; */
    text-align: center;
    border-style:groove;
    background-color: #003E89;
    color: #fff;
    font-size: 1.2rem;
}
h1{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    /* font-size: 3rem; */
    flex-grow: 2;
    width: 100%;
    background-color: #003E89;   
    color: gold;     
    margin-top: 0%;
}

main {
    /* background-color: #aed3fd; */
    /* display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; */
    justify-content: center;
    /* border-radius: 2%; */
    margin: 1rem auto;
    padding: 1rem;
    
}

/* .card {
    text-align: center;
} */

/* ------- hero --------------- */
.hero img {
	/* margin: 10px auto; */
	position: relative;
	/* border: 1px solid rgba(0,0,0,.1); */
	height:  auto;
    width: 100%;    
}

/* fix this position */
/* look at .banner to see formatting ideas */
.hero a {    
    position: absolute;
    padding: 2rem;
    border-radius: 2rem;
    top: 370px;
    left: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(27, 11, 146, 0.929); 
    /* max-width: 100px; not this**** */
    /* this is important******* */
    max-width: fit-content;
    margin: 1rem;
    /* background-color: var(--primary-color);  */
    color: #fff;
    border:#cf9c6a;
    font-size: 1.5rem;
    white-space: nowrap;
    text-decoration: none;
}



section {
    box-shadow: 0 0 10px rgb(26, 26, 23);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem;
    /* color handled in js dark-mide */
    /* background-color: beige; */
    /* display: grid;
    grid-template-columns: 1fr; */
    /* grid-gap: 1rem; */

}

nav {
    /* display: flex; */
    justify-content: center;
    /* text-decoration: none; */
    /* margin: 10px; */
    /* display: none; */ /* add this when making large view*/
}

nav li {
    list-style-type: none;
    margin: 10px;
    /* stops 'about us' from wraping */
    white-space: nowrap;
}

#menu {
    display: block;
	font-size: 2rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;

    top: 1.1rem;
    right: 1.2rem;
    cursor: pointer;
}    


/********* makes a hamberger menu **********/
#menu::before {
	content: "☰";
    color: goldenrod;
    
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	/* color: #fff; */
}
.navigation a:hover {
    border: #333231;
	background-color: #cf9c6a;
	color: #333231;
	font-weight: 700;
}

.navigation li {
    display: block;
    /* flex: 100%; */
}
.open a {
	display: block;
}

/* just a wayfinding symbol for the user */
.active::before {
	content: "~";
}
.active::after {
    content: "~";
}
/* .navigation::before {
	content: "";  
} */


/* dark-mode button location */
  #mode {
	position: absolute;
	top: 1.5rem;
	right: -1.2rem;
	cursor: pointer;
	font-size: 1.5rem;
    color: white;
}
  
/* for 3 img */

/* .herolable {
    position: absolute;
    top: 440px;
    left: 50px;
    background: radial-gradient(#fff, #f39c39e0);
    border: 1px solid rgba(23, 23, 23, 0.51);
    padding: .5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    font-family:"Great Vibes", serif;     */
    /* change the font family here ^ */
    /* font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
} */

/* .herolable::after {
    content: "small"; */
    /* text-indent: 0; */
    /* display: block; */
     /* New content takes up original line height */
    /* line-height: initial;  */
  /* } */
/* ----------------- discover ----------------- */
.side-container {
    justify-self: center;
    }

.discover-img {
    justify-items: center;        
    }
  
figcaption {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.thankyou {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 2rem;
    margin: 10rem 10rem;
    text-decoration-line: underline;
}


/* --------------- join ---------------- */


.join-form label {
    /* moved itemes from inline to stacked */
    display: block;
    padding-top: 1rem;
    color: #110d82;
    font-size: .9rem;
}

/* be sure to have no spaces in input[type="text"] */
.join-form input[type="text"],
    [type="email"],
    [type="tel"]
{
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    /* change text color for what is being typed */
    color: #555;
    width: 90%;
    max-width: 400px;
    /* overrides the default browser styling */
    appearance: none;
    /* background-color: red; */
    overflow: hidden;
}

.join-form button {
    margin: 1rem;
    font-size: 2rem;
    border-radius: 6px;
    background-image: linear-gradient(#003e89cd, #003e89eb, #003E89);
    color:  gold;
    box-shadow: 0 0 10px rgb(26, 26, 23);
    /* How do I center the button in small view? */
}

.join-form legend{
    padding: 10px;
}

.join-form textarea
{
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    /* change text color for what is being typed */
    color: #555;
    width: 90%;
    max-width: 400px;
    /* overrides the default browser styling */
    appearance: none;
    /* background-color: red; */
}

.joinpage {
    display: grid;
    grid-template-columns: 1fr;

}
/* ------------ banner -------- */

.banner {
    /* style */
    border: solid;
    border-color: #445088;
    border-radius: 2rem;
    /* width: 25rem; */
    /* text-align: center; */
    padding: 2rem;
    background-color: #3739a4;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    white-space: nowrap;
    display: none; /* Hide the banner by default */
    /* location */
    position: fixed;
    /* display: inline-block;     */
    top: 190px;
    left: 20px;
    /* only visable mon, tues, wen... day 1, 2, 3 */
    /* flex-grow: 1; */
}

/* .banner_content { */
    /* flex-grow: 1; */
    /* margin-right: 1em; */
    /* line-height: 1.4; */
  /* } */
  
.banner_close {
    /* flex-shrink: 0; */
    position: relative;
    top: -45px;
    left: 20px;
    background-color: #3739a4; 
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}

.banner_close:hover {
    background: #007e65;
  }

  /* --------directory toggle ------------*/
  /* from codepen  */
  /* .membergrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.membergrid section {
	text-align: center;
}

.membergrid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.membergrid section > * {
	margin: 0.1rem;
}

.membergrid h3 {
	font-family: "Caveat", cursive;
}

.memberlist {
	display: flex;
	flex-direction: column;
}

.memberlist section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.memberlist section > * {
	margin: 0 1rem;
}

.memberlist section img { */
	/* display: none;  */
    /* smaller viewports only */
/* }

.memberlist section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.memberlist section:nth-child(even) {
	background-color: #bed;
} */