body {
    font-family: lato, Courier,monospace;
    background-color: rgba(245, 245, 220, 0.956);
}
main {
    background-color: beige;
}

   
header { 
    font-family: lato Impact;
}


footer {
    /* margin: 1rem auto;
    padding: 1rem; */
    text-align: center;
    border-style:groove;
    background-color: #003E89;
    color: #fff;
    font-size: 1.2rem;
}
h1{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    /* font-size: 3rem; */
    flex-grow: 2;
    width: 100%;
    background-color: #003E89;   
    color: gold;     
    margin-top: 0%;
}

main {
    /* background-color: #aed3fd; */
    /* display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; */
    justify-content: center;
    /* border-radius: 2%; */
    margin: 1rem auto;
    padding: 1rem;
    
}

.hero img {
	/* margin: 10px auto; */
	position: relative;
	/* border: 1px solid rgba(0,0,0,.1); */
	height:  auto;
    width: 100%;    
}

/* fix this position */
.hero button {    
    position: absolute;

    top: 300px;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    background-color: rgba(75, 75, 121, 0.7); 
    max-width: 10 0px;
    margin: 1rem;
    /* background-color: var(--primary-color);  */
    color: #fff;
    border:#cf9c6a;
    font-size: .5rem;
}



section {
    box-shadow: 0 0 10px rgb(26, 26, 23);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem;
    /* color handled in js dark-mide */
    /* background-color: beige; */
    /* display: grid;
    grid-template-columns: 1fr; */
    /* grid-gap: 1rem; */

}

nav {
    /* display: flex; */
    justify-content: center;
    /* text-decoration: none; */
    /* margin: 10px; */
    /* display: none; */ /* add this when making large view*/

    
}

nav li {
    /* text-decoration: none; */
    list-style-type: none;
    margin: 10px;
    /* stops 'about us' from wraping */
    white-space: nowrap;
}


#menu {
    display: block;
	font-size: 2rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;

    top: 1.1rem;
    right: 1.2rem;
    cursor: pointer;
}    


/* makes a hamberger menu */
#menu::before {
	content: "☰";
    color: goldenrod;
    
}



#menu.open::before {
	content: "X";
}


.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	/* background-color: #333; */
	/* color: #fff; */
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	/* color: #fff; */
}
.navigation a:hover {
    border: #333231;
	background-color: #cf9c6a;
	color: #333231;
	font-weight: 700;
}

.navigation li {
    display: block;
    /* flex: 100%; */
}
.open a {
	display: block;
}

/* just a wayfinding symbol for the user */
.active::before {
	content: "";  
}
  
/* dark-mode button location */
  #mode {
	position: absolute;
	top: 1.5rem;
	right: -1.2rem;
	cursor: pointer;
	font-size: 1.5rem;
    color: white;
}
  
/* for 3 img */

/* .herolable {
    position: absolute;
    top: 440px;
    left: 50px;
    background: radial-gradient(#fff, #f39c39e0);
    border: 1px solid rgba(23, 23, 23, 0.51);
    padding: .5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    font-family:"Great Vibes", serif;     */
    /* change the font family here ^ */
    /* font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
} */

/* .herolable::after {
    content: "small"; */
    /* text-indent: 0; */
    /* display: block; */
     /* New content takes up original line height */
    /* line-height: initial;  */
  /* } */

  .side-container {
    position: fixed;
  }
  .side-container section{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 150px;
  }

  .discover-img {
    justify-items: center;
    padding-left:100px ;
  }

  .thankyou {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 2rem;
    margin: 10rem 10rem;
    text-decoration-line: underline;
}
/* ---------------join---------------- */