@media screen and (min-width: 500px){

    .hero {
        grid-column: 1 / 3;
    }

    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    }
 
/* nav and hamburger button */
    nav {
        flex-direction: row;
    }

    nav ul {
        display: flex; 
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
        font-size: 1.3rem;
        font-weight: bold;
    }

    nav a:hover { /*when curser hovers over nav a boarder in there*/
        border: 1px solid;
    }    
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}


   /* add the first section grid-column 1/3, make this work!*/
   section:first-child {
    grid-column: 1 / 3;
    
   }

    .hero button {    
        position: absolute ;
        top: 500px;
        left: 350px;
        right: 0px;
        color: rgb(255, 255, 255);
        /* text-align: center; */
        background-color: rgba(75, 75, 121, 0.7); 
    
        margin: 1rem;
        /* background-color: var(--primary-color);  */
        color: beige;
        border: none;
        /* padding: .75rem; */
        font-size: 1.2rem;
    }

    h2 {
        display: none;
    }

    /* dark-mode location */
    #mode {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
    }
    /* -------------- discover ---------------- */
    /* this overrides wit presidence the h2 display none */

    .side-container {
        position: fixed;
      }

    .side-container section h2{
        display:inline-block;
    }
    
      .side-container section{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 200px;
        /* keeps the side-container on top of the img */
        background-color: beige;
      }

      .discover-img {
      padding-left:100px ;
      }
      
/*when curser hovers over img boarder in there*/
      .discover-img img:hover { 
        box-shadow: 0 0 3rem #3960d7;
    }







    /* for 3 img */
    /* .herolable {
        position: absolute;
        top: 310px;
        left: 50px;
        background: radial-gradient(#fff, #f39c39a1);
        border: 1px solid rgba(23, 23, 23, 0.51);
        padding: .5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        font-family:"Great Vibes", serif;    
        font-weight: 700;
        font-size: 1rem;
        border-radius: 8px;
    }
    .herolable::after {
        content: "large";
      } */


 

/* --------------join------------- */

    /* why does this not work? */
    .join-form h2{
        display:inline-block;
    }

    .joinpage {
        grid-template-columns: 2fr 1fr;
    }

    .join-form {
        grid-column: 1/2;
    }

    .card {
        margin: 2rem;
    }

}