
body {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);

}

header {
   background-color: rgb(61, 232, 232); 
   background-image: linear-gradient(rgba(255, 0, 0, 0.731), rgba(255, 255, 0, 0.873));
   overflow: hidden;
   text-transform: uppercase;
   padding: 2rem;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-image: linear-gradient( rgb(255, 238, 2), rgb(0, 229, 255));
    overflow: hidden;
}

/* removes the underline for links */
a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

/* ---------navigation-------- */

.nav {
    display: flex;
	flex-direction: column;
	list-style: none;    

}

.navigation{
    /* display: flex; */
   list-style: none; 
   justify-content: space-around;
   
}

.navigation li {
    /* display: block; */
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;
    
}



/* --------button-------- */

.link {
    border: solid;
    background-color: rgb(93, 225, 239);
    color: aliceblue;
    width: fit-content;
    padding: 1rem;
    border-radius: 30px;
    border-color: darkgray;
    white-space: nowrap;
    background-image: linear-gradient( darkgray, white, darkgray);
    
    
}

button:hover {
    /* add here */
    opacity: 70%;
}

a:hover{
    opacity: 70%;
}

/* ---------social media------------ */
/* #socialmedia a:hover{
    opacity: 70%;
} */


/* ----------cards--------- */

section {
    box-shadow: 0 0 10px rgb(26, 26, 23);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem;
    /* color handled in js dark-mide */
    /* background-color: beige; */
    /* display: grid;
    grid-template-columns: 1fr; */
    /* grid-gap: 1rem; */

}

/* ------------rentals--------- */
.cards{
    display: grid;
    grid-template-columns: 1fr ;
    

}

.cards section {
    margin: 1rem;
}

.cards h2 {
    text-align: center;
}

/* ------------rentals table--------- */

/* ***************change this from :root*************** */
:root {
	--back: rgb(87, 66, 28);
  --back2: #CCBEAA;
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: 1rem;
}

tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
	background-color: var(--back2);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}