/* this is my main css file */
/* add @import url google font here */

header, nav, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
}

header {
    background-color: #d6abe9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 3rem;
    color: black;
    width: 100%;
}

header span {
    padding: 1rem;
}

main {
    display: grid;    
    grid-template-columns: 1fr;
    /* margin: 0 auto;  
    text-align: left;  */
    border: #d6abe938;
    gap: 1rem;
}

main section ul{
    list-style: none;
}

/* main h1 {
    text-align: center;
    text-decoration:underline;
    grid-column: 1/3;    
    background-color: #abb6e9;
    margin: 1rem;
} */

h2 {
    background-color: #abb6e9;
    /* border-radius: 10px;   */
}

nav {
    background-color: bisque;
}
nav ul{
    list-style: none; /*removes bullet points*/
    
}

nav a {
    display: block; /* changed display from horizontal to vertical. In large.css it is changed to flex which changes it to horizontal */
    
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #d6abe9;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: auto;
}

.hero img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
    /* change the font family here ^ */
}

iframe {
    justify-content: center; 
    /* fix this */
}