/* applies to larger view */
/* @media screen and (min-width: 500px){ */
    /* I have to change min-width from 500 to 400 bc wk06 assignemt hero img reqired 400 */
@media screen and (min-width: 400px){
    /* header {
        background-color: black;
        color: white;
    } */
    
    main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    
    }

    /* h1 {
        text-align: center;
        text-decoration:underline;
        grid-column: 1/3;    
        margin: 1rem;
    } */

    nav ul {
        display: flex; 
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a:hover { /*when curser hovers over nav a boarder in there*/
        border: 1px solid;
    }    
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}

    .hero img{
        grid-column: 1/3; 
        
        /* max-width: 960px;        */
    }

    h2 {
        grid-column: 1/3;
    }

/* position of lable in large view */
    .herolable {
        top: 380px;
        left: 25px;
    }
}